Django==2.2.12      # Vulnerabile a diverse CVE di SQL injection e XSS
requests==2.20.0    # Vulnerabile a leak di credenziali via proxy
PyYAML==3.12        # Famosa vulnerabilità di esecuzione di codice remoto (RCE)
